{% include "header.html" %}
<div class="container">
        <div class="jumbotron">
            <p>THIS SECTION AIMS AT SIMPLIFYING THE JARGONS ASSOCIATED WITH THE WORLD OF FINANCE AND INVESTMENT</p>
            <p>BELOW ARE SOME OF THE COMMONLY USED JARGONS AND THEIR SIMPLIFIED MEANINGS GIVEN:</p>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <table class="table table-warning table-hover table-responsive-lg tb-color">
                <thead class="thead-dark">
                    <tr>
                        <th>JARGON</th>
                        <th>MEANING</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Abandon Rate</strong> </td>
                        <td>
                            Abandon rate is the percentage of tasks that are abandoned by the customer before completing the intended task.
                            There are two common industries where abandon rate is a commonly used metric. The first is in call centers, the
                            second is online retailing.
                        </td>
                    </tr><br/>
                    <tr>
                        <td><strong>Abatement Cost</strong> </td>
                        <td>An abatement cost is a cost borne by firms when they are required to remove and/or reduce undesirable nuisances or
                            negative byproducts created during production.</td>
                    </tr>
                    <tr>
                        <td><strong>Absorption Rate</strong></td>
                        <td>The absorption rate is the rate at which available homes are sold in a specific real estate market during a given
    time period. It is calculated by dividing the average number of sales per month by the total number of available
    homes. The figure shows how many months it will take to exhaust the supply of homes on the market.</td>
                    </tr>
                    <tr>
                        <td><strong>Baby Boomer</strong> </td>
                        <td>Baby boomer is a term used to describe a person who was born between 1946 and 1964. The baby boomer generation
    makes up a substantial portion of the world's population, especially in developed nations: It represents nearly 20%
    of the American public. As the largest generational group in U.S. history (until the millennial generation slightly
    surpassed them), baby boomers have had and continue to have a significant impact on the economy. As a result, they
    are often the focus of marketing campaigns and business plans.</td>
                    </tr>
                    <tr>
                        <td><strong>Bear Market</strong></td>
                        <td>A bear market is a condition in which securities prices fall 20 percent or more from recent highs amid widespread
    pessimism and negative investor sentiment. </td>
                    </tr>
                    <tr>
                        <td><strong>Bull Market</strong></td>
                        <td>A bull market is the condition of a financial market of a group of securities in which prices are rising or are
    expected to rise. </td>
                    </tr>
                    <tr>
                        <td><strong>calamity Call</strong> </td>
                        <td>A calamity call is a protective call feature found in a collateralized mortgage obligation (CMO). If the cash flow
    generated by the underlying collateral is not enough to support the scheduled principal and interest payments,
    either because of loan defaults or prepayment, then the issuer will retire a portion of the CMO. It is designed
    primarily to reduce the issuer's reinvestment risk.</td>
                    </tr>
                    <tr>
                        <td><strong>Premium</strong> </td>
                        <td>Call premium is the dollar amount over the par value of a callable debt security that is given to holders when the
    security is redeemed early by the issuer. The call premium is also called the redemption premium.</td>
                    </tr>
                    <tr>
                        <td><strong>Provision</strong> </td>
                        <td>A call provision is a provision on a bond or other fixed-income instrument that allows the original issuer to
    repurchase and retire the bonds. If there is a call provision in place, it typically comes with a time window under
    which the bond can be called, with a specific price to be paid to bondholders, and any accrued interest defined
    within the provision.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>