{% include "header.html" %}
<div class="search-container" style="position:relative;left: 10%;">
    <form action="">
      <input type="text" placeholder="Search Stocks" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
</br>
{% for i in data %}
<div class="card w-75"  >
    <div class="card-body" style="position:relative;padding: 2px;border:black 1px solid;width:600px;top: 50%;left: 10%;">
      <h3 class="card-title" style="text-align: center;"><b>{{i.company}}</b></h3><hr>
      <div class="col-md-6">
        <p style="margin-left: 40px;font-size:24px" class="card-text"><strong>open:</strong> {{i.open}}</p>
        <p style="margin-left: 40px;font-size:24px" class="card-text"><strong>high:</strong> {{i.high}}</p>
       
      </div>
     <div class="col-md-6">
         <p style="margin-left: 40px;font-size:24px" class="card-text"><strong>low:</strong> {{i.low}}</p>
        <p style="margin-left: 40px;font-size:24px" class="card-text"><strong>close:</strong> {{i.close}}</p>
    </div></br>
    <p style="margin-left: 53px;font-size:24px" class="card-text"><strong>Quantity:</strong>
     <input type="number"  name="quantity" min="1" max="5"></p>
     <p style="margin-left: 53px;font-size:24px" class="card-text"><strong>Value:</strong> {{i.close}}</p>
      <a href="{% url 'add'  slug=i.company %}" class="btn btn-primary" style="font-size:28px;position:relative;left:250px">Add</a></br></br>
    </div></br>
   
  </div>
  {% endfor %}