{% include "header.html" %}
<h1>Welcome to your transaction</h1>

<div class="container">
	<div class="row text-center">
		<div class="col-sm-3 ">Company</div>
		<div class="col-sm-1 ">Open</div>
		<div class="col-sm-1 ">Close</div>
		<div class="col-sm-1 ">High</div>
		<div class="col-sm-1 ">Low</div>
		<div class="col-sm-2 ">Quantity</div>
		<div class="col-sm-3 ">Buying Time</div>	
	</div>
	{% for i,j  in data.items %}
	
	<div class="row text-center">
		<div class="col-sm-3">{{ j.company }}</div>
		<div class="col-sm-1">{{j.open}}</div>
		<div class="col-sm-1">{{j.close }}</div>
		<div class="col-sm-1">{{ j.high}}</div>
		<div class="col-sm-1">{{j.low }}</div>
		<div class="col-sm-2">{{j.quantity }}</div>
		<div class="col-sm-3">{{j.time }}</div>	
	</div>
 
	{% endfor %}	
</div>