{% include "header.html" %}
<div class="container">
<table class="table table-hover">
		<thead>
				<tr>
				  <th scope="col">Company</th>
				  <th scope="col">Open</th>
				  <th scope="col">Close</th>
				  <th scope="col">High</th>
				  <th scope="col">Low</th>
				  <th scope="col">Quantity</th>
				  <th scope="col">Buying Time</th>
				</tr>
			  </thead>
			  <tbody>
					{% for i,j  in data.items %}
					<tr>
					  <td>{{ j.company }}</td>
					  <td>{{ j.open }}</td>
					  <td>{{ j.close }}</td>
					  <td>{{ j.high }}</td>
					  <td>{{ j.low }}</td>
					  <td>{{ j.quantity }}</td>
					  <td>{{ j.time }}</td>
					</tr>
					{% endfor %}
			 </tbody>
</table>
</div>